html,
#root,
.App {
  height: 100%;
}

@font-face {
  font-family: "Recoleta";
  src: url("./assets/fonts/Recoleta.woff2") format("woff2"),
    url("./assets/fonts/Recoleta.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1f1a30;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
